<h2>Productos</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item">
        <a routerLink="Paqueticos">Paquetico</a>
        <ul>
            <li><a routerLink="Paqueticos/Proveedores">Proveedor</a></li>
            <li><a routerLink="Paqueticos/PlanesPaquetico">Planes Paquetico</a></li>
            <li><a routerLink="Paqueticos/venderPaquetico">Vender Paquetico</a></li>

        </ul>
    </li>
    <li class="list-group-item">
        <a routerLink="Recargas">Recargas</a>
        <ul>
            <li>
                <a routerLink="Recargas/Proveedores">Proveedor</a>
            </li>
            <li>
                <a routerLink="Recargas/Balances">Balances</a>
            </li>
        </ul>
    </li>
</ul>
