<h2>Venta Recarga</h2>

<div class="row">

    <div class="col">

        <form [formGroup]="ventaForm" (ngSubmit)="onSave()" autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control"
                            formControlName="terminalID"
                            placeholder="Terminal">
     
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control"
                            formControlName="solicituID"
                            placeholder="solicituID">
        
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control"
                            formControlName="monto"
                            placeholder="monto">
        
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="proveedor" placeholder="Enter Proveedor">
                        <option value="" disabled selected>Seleccionar Proveedor</option>
                        <option *ngFor="let proveedor of Proveedores" [value]="proveedor.prov_api">
                            {{proveedor.nombre}}
                        </option>
                     </select>       
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control"
                            formControlName="nic"
                            placeholder="nic">
        
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control"
                            formControlName="proveedorID"
                            placeholder="proveedorID">
      
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Vender
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>