<div>
    <h1>Vender Paquetico</h1>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">terminalID:</label>
        <input type="text" id="terminalID" formControlName="terminalID" required>
      </div>
      <div>
        <label for="name">solicituID:</label>
        <input type="text" id="solicituID" formControlName="solicituID" required>
      </div>
      <!--<div>
        <label for="name">monto:</label>
        <input type="text" id="monto" formControlName="monto" required>
      </div>-->
      <div>
        <label for="name">nic:</label>
        <input type="text" id="nic" formControlName="nic" required>
      </div>
      <div>
        <label for="name">proveedorId:</label>
        <input type="text" id="proveedorId" formControlName="proveedorId" required>
      </div>
      <div>
        <label for="mySelect">Selecciona un plan_Id:</label> 
        <select class="form-select" id="mySelect" formControlName="plan_Id">
            <option  *ngFor="let option of planesPaquetico" [value]="option.id">{{ option.nombre }} </option>
        </select>
      </div>
      <br>
      <div>
        <label for="mySelect">Selecciona un proveedor:</label> 
        <select class="form-select" id="mySelectp" formControlName="proveedor">
            <option  *ngFor="let options of proveedores" [value]="options.nombre">{{ options.nombre }} </option>
        </select>
      </div>
    
      <br>
      <button type="submit" [disabled]="myForm.invalid">Enviar</button>
    </form>
    <p *ngIf="submitted">Formulario enviado correctamente.</p>
    <!--<button style="width: 100px;height: 100px; color: aquamarine;" (click)="venderPaquetico()">Vender</button>-->
</div>
